h1 {
white-space: nowrap;
overflow: hidden;
}

/* Animation */
h1 {
animation: animated-text 6s linear 1s 1 normal both;
}

/* text animation */

@keyframes animated-text{
from{width: 0;}
to{width: 100%;}
}