body {
    font-family: 'Cutive Mono', monospace;
}

a {
    text-decoration: none;
    color: #ff00ff;
}

pre {
    background: #f4f4f4;
    border: 1px solid #ddd;
    border-left: 5px solid #ff00ff;
    color: #666;
    page-break-inside: avoid;
    font-family: monospace;
    font-size: 13px;
    line-height: 1.5em;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1em 1.5em;
    display: block;
    word-wrap: break-word;
}

code {
    background-color: #eee;
    font-size: 14px;
    font-family: 'Cutive Mono';
    border-radius: 1.5%;
    padding: 0 5px;
}


details {
    font-size: 18px;
    font-weight: bold;
    margin: 5% 0 5% 0;
}

span {
    font-style: italic;    
}

.content {
    margin: 5% 20% 0 20%;
}

.image {
    margin: 1%;
    border: 5px solid #ff00ff
}

.header {
    color: #ff00ff;
    text-align: center;
}

.footer {
    text-align: center;
    font-size: small;
}

.typewriter {
    white-space: nowrap;
    overflow: hidden;
}

.typewriter {
    animation: animated-text 6s linear 1s 1 normal both;
}

@keyframes animated-text{
    from { width: 0; }
    to { width: 100%; }
}